*.DS_Store

#pycharm
.idea

__pycache__

#project
*/local_settings.py
media
nexus9k_automation/static/css/main.css
nexus9k_automation/static/js/main-compiled.js
node_modules

asset
nexus9k_automation.log*
